In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ad_data.csv')
df.head()

,click_status,AMP_timestamp,Query Term,IP Address,User Agent,Cost Per Click,Conversions
0,1,29/01/15 11:00,"[""michael kors"",""michael michael kors""]",2.118.171.21,Mozilla/5.0 (iPad; CPU OS 8_1 like Mac OS X) A...,$ .28,0
1,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0
2,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0
3,1,29/01/15 11:00,"[""credit report"",""credit karma"",""free online c...",219.32.49.92,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,$ .90,0
4,1,29/01/15 11:00,"[""Byethost""]",13.54.12.142,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,$ .17,0

In [3]:
IPs = df['IP Address'].tolist()

In [4]:
# ! pip install python-geoip
# ! pip install python-geoip-geolite2
# ! pip install pygeoip

In [5]:
# download these files

#! wget "http://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz"
#! wget "http://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz"

In [6]:
IPs[0]

'2.118.171.21'

In [7]:
IP_country = []

import pygeoip
GEOIP = pygeoip.GeoIP("GeoIP.dat", pygeoip.MEMORY_CACHE)

for i in range(len(IPs)):
    IP_country.append(GEOIP.country_name_by_addr(IPs[i]))

In [8]:
IP_country[0]

'Italy'

In [9]:
ip_city_dict = []
import pygeoip
GEOIP = pygeoip.GeoIP("GeoLiteCity.dat", pygeoip.MEMORY_CACHE)

for i in range(len(IPs)):
    ip_city_dict.append(GEOIP.record_by_addr(IPs[i]))

city_ip = []
for i in ip_city_dict:
    if i is None:
        city_ip.append("Unknown")
    else:
        city_ip.append(i['city'])

In [10]:
city_ip[0]

In [11]:
#IP_country

In [12]:
len(IPs)

10103

In [13]:
print(len(IP_country))

10103

In [14]:
print(len(city_ip))

10103

In [15]:
df['country'] = IP_country

In [16]:
df['city'] = city_ip

In [17]:
df["city"].fillna("Unknown", inplace=True)

In [18]:
df['country'].replace("", 'Unknown',inplace=True)

In [19]:
df.head()

,click_status,AMP_timestamp,Query Term,IP Address,User Agent,Cost Per Click,Conversions,country,city
0,1,29/01/15 11:00,"[""michael kors"",""michael michael kors""]",2.118.171.21,Mozilla/5.0 (iPad; CPU OS 8_1 like Mac OS X) A...,$ .28,0,Italy,Unknown
1,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0,Unknown,Unknown
2,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0,Unknown,Unknown
3,1,29/01/15 11:00,"[""credit report"",""credit karma"",""free online c...",219.32.49.92,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,$ .90,0,Japan,Nagoya
4,1,29/01/15 11:00,"[""Byethost""]",13.54.12.142,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,$ .17,0,Australia,Sydney

In [20]:
df['country'].value_counts()

United States                       4650
Unknown                             1319
China                                592
Brazil                               502
Canada                               443
Germany                              275
Japan                                220
Mexico                               202
Korea, Republic of                   169
United Kingdom                       162
France                               160
Russian Federation                    73
Netherlands                           72
Saudi Arabia                          72
Italy                                 66
Sweden                                66
Poland                                62
Spain                                 56
Iran, Islamic Republic of             51
Czech Republic                        48
Colombia                              44
Australia                             44
Egypt                                 37
Argentina                             37
Switzerland                           34
India                                 33
South Africa                          32
Austria                               30
Denmark                               29
Chile                                 29
                                    ...
Azerbaijan                             4
Latvia                                 4
Serbia                                 4
Singapore                              4
Pakistan                               4
Malaysia                               3
New Zealand                            3
Iraq                                   2
Senegal                                2
Albania                                2
Israel                                 2
Syrian Arab Republic                   2
Europe                                 2
Andorra                                2
Kenya                                  2
Honduras                               1
Barbados                               1
Isle of Man                            1
Saint Kitts and Nevis                  1
Bangladesh                             1
Bahamas                                1
Nicaragua                              1
Bosnia and Herzegovina                 1
Cameroon                               1
Cyprus                                 1
Panama                                 1
Saint Vincent and the Grenadines       1
Guatemala                              1
Slovenia                               1
Bolivia                                1
Name: country, Length: 94, dtype: int64

In [21]:
df['city'].value_counts()

Unknown                4396
Fort Huachuca           277
Palo Alto               222
Norwalk                 129
Dearborn                114
Irvine                  112
Raleigh                 110
Durham                   90
Beijing                  84
Tokyo                    76
Toronto                  73
Xian                     67
Sao Paulo                64
Los Angeles              57
Montréal                 53
Cambridge                50
Harbin                   43
Prague                   42
Portland                 42
New York                 38
Guangzhou                36
San Jose                 35
New Plymouth             35
Denver                   34
Seoul                    32
Calgary                  31
Nanjing                  30
South Plainfield         29
Rio De Janeiro           28
Mexico                   28
                       ...
Sao Jose Dos Campos       1
Cancún                    1
Valparaiso                1
Geaune                    1
Haaksbergen               1
Sorriso                   1
Paulista                  1
Albstadt                  1
Lynnwood                  1
Goheung                   1
Taebaek                   1
Vinsady                   1
Lanzhou                   1
Yakutsk                   1
Wickford                  1
Düren                     1
Federal                   1
Itu                       1
Szada                     1
Bonham                    1
Debnialki                 1
Shizuishan                1
Ploiesti                  1
Würzburg                  1
Sao Sebastiao             1
Virum                     1
Oceanside                 1
Neuss                     1
Kurume                    1
Xaxim                     1
Name: city, Length: 1582, dtype: int64

In [22]:
df.head()

,click_status,AMP_timestamp,Query Term,IP Address,User Agent,Cost Per Click,Conversions,country,city
0,1,29/01/15 11:00,"[""michael kors"",""michael michael kors""]",2.118.171.21,Mozilla/5.0 (iPad; CPU OS 8_1 like Mac OS X) A...,$ .28,0,Italy,Unknown
1,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0,Unknown,Unknown
2,1,29/01/15 11:00,"[""meet girls"",""dating girls""]",0.82.173.102,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,$ .17,0,Unknown,Unknown
3,1,29/01/15 11:00,"[""credit report"",""credit karma"",""free online c...",219.32.49.92,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,$ .90,0,Japan,Nagoya
4,1,29/01/15 11:00,"[""Byethost""]",13.54.12.142,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,$ .17,0,Australia,Sydney

In [23]:
df.to_csv('new_ad_data.csv',index=False)